@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white;
  }
}
.button {
 background:black; color:white; padding:1rem; border-radius:0.75rem; font-weight:bold; font-size:1.125rem; width:100%; transition:background-color 0.3s ease, box-shadow 0.3s ease; box-shadow:0 4px 6px rgba(0, 0, 0, 0.1);   
}